{% extends 'base.html' %}

{% block content%}


<br/>
<br/>
{% if zipcode %}
  {{ zipcode }}
{% endif %}

{% if api %}
  {% if api == "Error..!" %}
    There was an error. Please try again...
  {% else %}
    <div class="jumbotron {{ category_color }}">
      <h1 class="display-4">{{ api.0.Category.Name }} </h1>
      <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>
      <hr class="my-4">
      <p>{{ category_description }}</p>

      <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
  {% endif %}
{% endif %}


{% endblock %}
